@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
@*Jumbotron Program Advisory Committees*@
<div class="jumbotron jumbotron-fluid" style="background-color:#0077be; color:#fff;">
    <div class="container">
        <h1 class="display-4">Program Advisory Committees</h1>
        <p class="lead">Forgot your password?</p>
    </div>
</div>

<div class="container">
<h1>@ViewData["Title"]</h1>
<p>
    Thank you! Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
</div>